@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap");
@import "../node_modules/@mdi/font/css/materialdesignicons.min.css";
@import "/fontawesome-free-6.4.0-web/css/all.min.css";
@import "../node_modules/flag-icons/css/flag-icons.min.css";
* {
  font-family: "Shippori Mincho B1", "serif";
}

.custom-select {
  appearance: none;
}
.search::placeholder {
  font-weight: 700;
}

.customScrollbar::-webkit-scrollbar {
  width: 5px;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.customScrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(70, 90, 119, 0.074);
  border-radius: 5px;
}

.customScrollbar1::-webkit-scrollbar {
  width: 7px;
}

.customScrollbar1::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.customScrollbar1::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 7px;
}

.active:active {
  color: blue;
}

.toggle {
  animation: toggleAnimation 0.2s linear;
}

@keyframes toggleAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.styled-select {
  position: relative;
  background-image: url("https://static.thenounproject.com/png/551749-200.png");
  background-position: right 1rem center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-color: #fdfdfd;
}
.styled-select select {
  -webkit-appearance: none;
  /* position: absolute; */
  background: transparent;
  /* outline: solid gray 3px; */
  outline: none;
  top: 0;
  left: 0;
}

.world-map-container {
  width: 300px; /* Adjust the width of the map here */
  height: 100px; /* Adjust the height of the map here */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
